head, body {
	margin: 0;
	padding: 0;
	background-color: rgb(244, 244, 244);
	font-family: 'Open Sans', sans-serif;

}

.header {
	background-color: rgb(209, 38, 43);
	display: block;
	padding-top: 20px;
	padding-bottom: 10px;
	position: fixed;
	width: 100%;
	top: 0;
}


.search {
	margin: 0 10px;
	display: flex;
	justify-content: center;
}

.logo img {
	display: block;
	margin: 0 auto;
	padding-bottom: 5px; 
	width: 80px;
}

.search input{
	flex: 5;
	height: 20px;
}

.search button{
	flex: 1;
}

.conA {
	margin-top:100px; 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align align-items: center;
}

.pic img {
	width: 140px;
}

.conB {
	margin-bottom: 60px;
	padding: 0;
}

.list {
	margin: 3px;
	padding: 5px;
	background-color: white;
	color: #000;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
}

.list i {
	color: rgb(239, 93, 84);
}

.list span {
	margin: 0;
	padding: 0;
	font-weight: bolder;
}

.footer {
	height: 50px;
	margin-top: 3px;
	padding: 5px;
	display: flex;
	width: 100%;
	position: fixed;
	border: 3px solid rgb(244, 244, 244);
	bottom: 0;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
}